<header class="container" style="height: 20rem">
  <div class="row gap-0 justify-content-center h-100 align-items-center">
    <h1 class="text-center text-uppercase"><%= @user.username %></h1>
    <p class="text-center"><%= t'.title' %></p>
  </div>
</header>

<main class="container col-3">
  <%= form_with model: @user, url: password_update_path, method: :patch do |form| %>

    <div class="form-floating">
      <%= render "shared/form_errors", object: form.object %>
    </div>

    <div class="form-floating mb-3">
      <%= form.password_field :old_password, required: true, class: "form-control", placeholder: t('old_password_field') %>
      <%= form.label :old_password, t('old_password_field') %>
    </div>

    <div class="form-floating mb-3">
      <%= form.password_field :password, required: true, class: "form-control", placeholder: t('password_field') %>
      <%= form.label :password, t('password_field') %>
    </div>

    <div class="form-floating mb-3">
      <%= form.password_field :password_confirmation, required: true, class: "form-control", placeholder: t('password_confirmation_field') %>
      <%= form.label :password_confirmation, t('password_confirmation_field') %>
    </div>

    <div class="mb-3 d-flex justify-content-end">
      <%= form.submit t('.save'), class: "btn btn-success" %>
    </div>
  <% end %>
</main>