<div class="formScreen">
    <main class="form">
        <img src="<%= asset_path('logo.svg') %>" style="padding-bottom: 5px" height="69">
        <%= form_with model: @user, url: sign_up_path do |form|%>
            <% if @user.errors.any? %>
                <div>
                    <% @user.errors.full_messages.each do |message| %>
                        <div><%= message %></div>
                    <% end %>
                </div>
            <% end %>
            <div class="mb-3">
                <%= form.label "Nome" %>
                <%= form.text_field :name, placeholder: "Maria da Silva", class: "form-control"%>
            </div>
            <div class="mb-3">
                <%= form.label "Nickname" %>
                <%= form.text_field :nickname, placeholder: "maria2000", class: "form-control"%>
            </div>
            <div class="mb-3">
                <%= form.label "E-mail" %>
                <%= form.text_field :email, placeholder: "maria@gmail.com", class: "form-control"%>
            </div>
            <div class="mb-3">
                <%= form.label "Senha" %>
                <%= form.password_field :password, placeholder: "senha", class: "form-control"%>
            </div>
            <div class="mb-3">
                <%= form.label "Confirmação de Senha" %>
                <%= form.password_field :password_confirmation, placeholder: "senha", class: "form-control"%>
            </div>
            <div>
                <%= form.submit "Registre-se", class:"btn btn-primary" %>
            </div>
        <% end %>
    </main>
</div>