<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<!-- Navigation-->

<nav class="navbar bg-success navbar-expand-lg mb-3" data-bs-theme="dark">
  <div class="container-fluid d-flex flex-justify-between">
    <%= link_to "Gblog", root_path, class: "navbar-brand" %>
    <div class="">
      <ul class="navbar-nav me-auto py-4 py-lg-0">

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to t(".post"), new_post_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to t(".profile"), profile_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Logout", logout_path, data: { turbo_method: :delete }, class: "nav-link" %>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to t("layouts.sign_in"), login_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t("layouts.sign_up"), sign_up_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container-lg d-flex ">

  <div>
    <p><%= t('layouts.lang') %>: <%= locale %>

    </p>
    <p>
      <% unless locale == :en %>
        <%= link_to t('layouts.change_lang'), url_for(locale: :en), class: "text-primary" %>
      <% else %>
        <%= link_to t('layouts.change_lang'), url_for(locale: :'pt-BR'), class: "text-primary" %>
      <% end %>
    </p>

  </div>

</div>

<%= yield %>


